html {
  background-color: black;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root::before {
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.5s linear;
  will-change: transform;
  z-index: -2;
  pointer-events: none;
}

.App::before {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.App {
  opacity: 0;
  color: transparent;
  transition: opacity 0.5s linear, color 0.5s linear;
}

footer {
  padding-bottom: 1em;
  margin-top: 1em;
}

hr {
  margin: 0;
}

a {
  transition: color 0.5s linear;
}

a:hover {
  text-decoration: none;
}

.ql-editor {
  padding: 0 !important;
}

.ql-editor a {
  text-decoration: none !important;
}

.ql-editor img {
  max-width: 50%;
  max-height: 50vh;
}

.settings-component .card {
  margin-bottom: 1em;
}

.settings-component h3,
.settings-component table,
.settings-component label {
  text-shadow: 1px 1px #ccc;
}

.page .card .card-header,
.page .card .card-footer {
  transition: border-color 0.5s linear, color 0.5s linear,
    background-color 0.5s linear;
}
.page .card {
  transition: border-color 0.5s linear, background-color 0.5s linear;
}
.page .card .card-header h6,
.page .card .card-header h5,
.page .card .card-header h4,
.page .card .card-header h3,
.page .card .card-header h2,
.page .card .card-header h1 {
  margin-bottom: 0;
}
.page .card .card-header h6,
.page .card .card-header h5,
.page .card .card-header h4 {
  font-size: 1em;
}
.page .card .card-header h3 {
  font-size: 1.17em;
}
.page .card .card-header h2 {
  font-size: 1.5em;
}
.page .card .card-header h1 {
  font-size: 2em;
}

.modal-content {
  color: transparent;
  background-color: transparent;
  transition: color 0.5s linear, background-color 0.5s linear;
}

.modal-content .modal-header,
.modal-content .modal-footer {
  color: #f8f9fa;
  background-color: #343a40;
  border: 0;
}
.modal-content .modal-header svg {
  color: #fff;
}

.wysiwyg label {
  display: none;
}

.wysiwyg .modal label {
  display: inline-block;
}

.wysiwyg .ql-container {
  font-size: 1rem;
}

.wysiwyg .ql-toolbar.ql-snow,
.wysiwyg .ql-container.ql-snow {
  border: 0;
}

.wysiwyg .ql-toolbar.ql-snow {
  background-color: white;
}

.wysiwyg .ql-tooltip {
  z-index: 99999;
}

.wysiwyg .ql-editor {
  overflow: hidden;
}
