.spinner-container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.page .page-controls {
  margin-bottom: 1em;
}

.page .page-controls button {
  margin-left: 1em;
  margin-top: 1em;
}

.page .page-block .preaction.wysiwyg {
  margin-bottom: 0 !important;
}
